<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp - Index</title>
  </head>
  <body style="font-size:20px; padding:50px;">
    <% include partials/_header %>
	 <!-- Add your EJS code here -->
	<form style="margin: 10%;">
    <table style=" border: 1px solid #333;">
    <thead>
      <tr>
        <th colspan="4"></th><h1>Tiny App</h1></th>
      </tr>
    </thead>
    <tbody> 
	  <tr>
	    <td style=" border: 1px solid #333;"><h3><b>Short URL</b></h3></td>
        <td style=" border: 1px solid #333;"><h3>Long URL</h3></td>
        <td style=" border: 1px solid #333;"><h3>Edit</h3></td>
        <td style=" border: 1px solid #333;"><h3>Delete</h3></td>
      </tr>
      <% if (urls) { %>
        <% Object.keys(urls).forEach(function(tinyURL) { %>
 	    <tr>
		  <td style=" border: 1px solid #333; width: 200px;"><h3>
			<a href="/u/<%= tinyURL %>" target="_blank"> 
              <%= tinyURL %>
            </a>
			</h3></td>
            <td style=" border: 1px solid #333; width: 300px;"><h3><a href=<%= urls[tinyURL] %> target="_blank"><%= urls[tinyURL] %>
            </a></h3></td>
            <td style=" border: 1px solid #333;">
				
            	<a href="/urls/<%= tinyURL %>">Edit</a>
            	
        	</td>
            <td style=" border: 1px solid #333;">
            	<form method ="POST" action ="/urls/<%= tinyURL %>/delete">
            		<input type="submit" value="Delete" id="delete">
        		</form>
        	</td>
    	</tr>
        <% }); %>
        <% } %>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td style=" border: 1px solid #333;" colspan="4">
            <h2>
            <a href="/urls/new">Create new URL</a>
            </h2>
            </td>
        </tr>
    </tfoot>
</table>   		
    </form>
</body>
</html>
